.sugerencias {
    text-align: center;
    align-self: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: smaller; 
    animation-name: sugerencias;
    animation-duration: 3s;
    animation-iteration-count: 2;
}

@keyframes sugerencias {
    0% {
        transform: translate(0px);
    }

    25% {
        transform: translate(50px);
    }

    50% {
        transform: translate(-50px);
    }

    75% {
        transform: translate(50px);
    }

    100% {
        transform: translate(0px);
    }
}


.comunidad {
    margin-top: 5px;
    border-top: 3px black;

    ul {
        li {
            list-style: none;
        }
    }
}