.navb { font-size: small;}

footer {border-top: 3px black; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: small}
header { font-family: Verdana, Geneva, Tahoma, sans-serif; border: 3px black; 
}